:root {
    --var-main: #222831;
    --var-acnt: #30475e;
    --var-text: #ececec;
    --var-sgst: rgba(117, 117, 117, 0.4);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--var-main);
}

::-webkit-scrollbar-thumb {
    background: var(--var-text);
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--var-main);
    color: var(--var-text);
    font-family: "Roboto", sans-serif;
    min-width: 500;
    min-height: 700;
    overflow: hidden;
}

.view {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.code {
    font-size: 15rem;
    -webkit-user-select: none;
}

.code span {
    border-bottom: 1px solid var(--var-text);
}

.desc {
    font-size: 5rem;
    padding-bottom: 1em;
    -webkit-user-select: none;
}

.suggest {
    color: var(--var-sgst);
}

.table-wrapper {
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0vh;
    overflow: auto;
    background: var(--var-acnt);
    transition: all 500ms ease;
}

.table-hidden {
    left: -500%;
}

.codes-table {
    height: 80vh;
    margin: 15px;
}

.table-header {
    text-decoration: underline;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.open-table {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 1px solid var(--var-acnt);
    transition: all 250ms ease;
    cursor: pointer;
    z-index: 2;
}

.open {
    border: 1px solid black;
}

.open-table:hover {
    background: var(--var-acnt);
}

.open-table:active {
    transform: scale(0.95);
}

.explainer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #3f4854;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .code {
        font-size: 6em;
    }

    .desc {
        font-size: 3em;
    }
    .explainer {
        font-size: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .code {
        font-size: 8em;
    }

    .desc {
        font-size: 3em;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .code {
        font-size: 12em;
    }

    .desc {
        font-size: 4em;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    .code {
        font-size: 15em;
    }

    .desc {
        font-size: 5em;
    }
}
